version: '3.9'

services:
  db:
    image: postgres:12 # 12 is the latest Flyway supported version
    restart: always
    environment:
      - POSTGRES_DB=booksapi
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=dbpassword
    ports:
      - "5432:5432"
